<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>NewsExpress</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/templates/admin/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controller.AdminIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUsersIndexController</servlet-name>
		<servlet-class>controller.AdminUsersIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUsersIndexController</servlet-name>
		<url-pattern>/admin/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserAddController</servlet-name>
		<servlet-class>controller.AdminUserAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserAddController</servlet-name>
		<url-pattern>/admin/user/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserDelController</servlet-name>
		<servlet-class>controller.AdminUserDelController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserDelController</servlet-name>
		<url-pattern>/admin/user/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserEditController</servlet-name>
		<servlet-class>controller.AdminUserEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserEditController</servlet-name>
		<url-pattern>/admin/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCatIndexController</servlet-name>
		<servlet-class>controller.AdminCatIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCatIndexController</servlet-name>
		<url-pattern>/admin/cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCatAddController</servlet-name>
		<servlet-class>controller.AdminCatAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCatAddController</servlet-name>
		<url-pattern>/admin/cat/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCatEditController</servlet-name>
		<servlet-class>controller.AdminCatEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCatEditController</servlet-name>
		<url-pattern>/admin/cat/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCatDelController</servlet-name>
		<servlet-class>controller.AdminCatDelController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCatDelController</servlet-name>
		<url-pattern>/admin/cat/del</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminNewsIndexController</servlet-name>
		<servlet-class>controller.AdminNewsIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewsIndexController</servlet-name>
		<url-pattern>/admin/news</url-pattern>
	</servlet-mapping>
</web-app>