<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Bnew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsersIndexController</servlet-name>
    <servlet-class>controller.AdminUsersIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersIndexController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserAddController</servlet-name>
    <servlet-class>controller.AdminUserAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserAddController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserDelController</servlet-name>
    <servlet-class>controller.AdminUserDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDelController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminUserEditController</servlet-name>
    <servlet-class>controller.AdminUserEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserEditController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  
</web-app>